<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @*<title>I LOVE YOU, YANA</title>*@
    <title>ОБИЧАМ ТЕ, ЯНА</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*<strong class="navbar-text">I LOVE YOU</strong>*@
                <strong class="navbar-text">ОБИЧАМ ТЕ</strong>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li>@Html.ActionLink("Challenges", "GetAll", "Home")</li>
                    <li>@Html.ActionLink("Completed", "GetCompleted", "Home")</li>*@
                    <li>@Html.ActionLink("Challenge-и", "GetAll", "Home")</li>
                    <li>@Html.ActionLink("Ейтея си минала", "GetCompleted", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="text-center">
            <strong>&copy; @DateTime.Now.Year - Жужо Жиниъс Жентълмен productions</strong>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>